<h4>New contact request from: <%= site %></h4>
<b>Name:</b> <%= name %>
<br/>
<b>Company:</b><%= company %>
<br/>
<b>Email:</b><%= email %>
<br/>
<b>Phone:</b><%= phone %>
<br/>
<b>Country:</b><%= country %>
<br/>
<b>Comments:</b><%= comments %>
<br/>